<h1> Hello, <%= @user.username %>. Welcome back. </h1>

<%= link_to "Explore destinations", destinations_path %>
Your Reviews:
<ul>
  <% @reviews.each do |r| %>
  <li><%= link_to r.title, r %></li>
<ul>
  <%end%>

Your trip reading lists:
<ul>
  <% @dest_array.each  do |da| %>
  <li><%= da.name%></li>
  <%= form_tag reading_list_path, method: :get do %>
  <%= hidden_field_tag :destination_id, da.id %>
  <%= submit_tag 'View List'%>
  <%end%>
  <%end%>
</ul>


<%= form_tag(logout_path, method: :delete) do %>
<%= submit_tag "Logout" %>
<% end %>
