<h1> Hello, <%= @user.username %>. Welcome back. </h1>

Your trips:

<%= link_to "Explore destinations", destinations_path %>
Your Reviews:
<ul>
  <% @reviews.each do |r| %>
  <li><%= link_to r.title, r %></li>
<ul>
  <%end%>

<%= form_tag(logout_path, method: :delete) do %>
<%= submit_tag "Logout" %>
<% end %>
