<div class="bg-img-user">
<br>
<br>
<br>
<br>

<div class="notification">
<h1> Hello, <%= @user.username %>. Welcome back. </h1>
</div>

<div class="w3-container w3-padding-5" id="projects">
   <h3 class="w3-border-bottom w3-border-black w3-padding-5"><%= link_to "Explore destinations", destinations_path %></h3>
 </div>

<div class="notification">
Your Reviews:
<ul>
  <% @reviews.each do |r| %>
  <li><%= link_to r.title, r %></li>
<ul>
  <%end%>

Your trip reading lists:
<ul>
  <% @destination_array.each  do |da| %>
  <li><%= da.name%></li>
  <%= form_tag reading_list_path, method: :get do %>
  <%= hidden_field_tag :destination_id, da.id %>
  <%= submit_tag 'View List'%>
  <%end%>
  <%end%>
</ul>

<div class="w3-container w3-padding-5" id="projects">
   <h3 class="w3-border-bottom w3-border-black w3-padding-5"></h3>
 </div>

<%= form_tag(logout_path, method: :delete) do %>
<%= submit_tag "Logout" %>
<%= form_tag(user_path(@user), method: :delete) do %>
<%= submit_tag "Delete Account" %>
<% end%>
<% end %>
</div>
</div>
