<div class="bg-img-book">
<br>
<br>
<br>
<br>
<br>

<div class="notification">
<h5>Find Books by Title, Genre, or Author</h5>
<%= form_tag(books_path, method: :get) do  %>
<%= text_field_tag :search %>
<%= submit_tag "Search"%>
<% end %>
</div>

<%= form_tag(book_path(@books.random_book), method: :get) do %>
<%= submit_tag "I'm feeling lucky" %>
<%end%>

<div class="columns is-multiline is-centered">
  <% @books.each do |b| %>
    <div class="column is-one-quarter">
      <div class="notification">
        <%= link_to b.title, b %>
        <p class="is-size-5"> By <%= b.author %>
        </p>
      </div>
    </div>
    <% end %>
</div>
</div>
