<div class="bg-img-book">
<br>
<br>
<br>
<br>
<div class="notification">
<h1><%= @book.title %></h1>
<%= image_tag "book/#{1+rand(4)}.png"%>
<ul>
  <li>Author: <%= @book.author %></li>
  <li>Genre: <%=@book.genre %></li>
  <li>Description:<br> <%= @book.description %></li>
  <li>Publication date: <%= @book.publication_date %></li>
</ul>
</div>


<% if !@reviews.empty? %>
<div class="notification">
<%= "Reviews by other travelers who have read this book:" %>
<ul>
  <% @reviews.each do |r| %>
  <li><%= link_to r.title, r %></li> by <%= r.user.username%>
<ul>
  <%end%>
</div>
<%end%>



<% if logged_in? %>
<%= form_tag(reading_lists_path, method: :post) do %>
  <%= hidden_field_tag :book_id, @book.id %>
  <%= collection_select(:destination, :destination_id, Destination.all, :id, :name) %>
  <%= submit_tag 'Add to your trip reading list'%>
<% end %>


<%= form_tag(new_review_path, method: :get) do %>
  <%= hidden_field_tag :book_id, @book.id %>
  <%= submit_tag 'Review This Book' %>
<% end %>
<%end%>
</div>
