<h1><%= @book.title %></h1>

<ul>
  <li><%= @book.author %></li>
  <li><%= @book.description %></li>
  <li><%= @book.publication_date %></li>
</ul>


<%= form_for(url: new_review_path, method: :get) do |f| %>
  <%= f.hidden_field :book_id, :value => @book.id %>
  <%= f.submit 'Review This Book' %>
<% end %>
