<h1><%= @book.title %></h1>

<ul>
  <li><%= @book.author %></li>
  <li><%= @book.genre %></li>
  <li><%= @book.description %></li>
  <li><%= @book.publication_date %></li>
</ul>

Reviews by other travelers who have read this book:
<ul>
  <% @reviews.each do |r| %>
  <li><%= link_to r.title, r %></li>
<ul>
  <%end%>




<%= form_tag(reading_lists_path, method: :post) do %>
  <%= hidden_field_tag :book_id, @book.id %>
  <%= collection_select(:destination, :destination_id, Destination.all, :id, :name) %>
  <%= submit_tag 'Add to your trip reading list'%>
<% end %>


<%= form_tag(new_review_path, method: :get) do %>
  <%= hidden_field_tag :book_id, @book.id %>
  <%= submit_tag 'Review This Book' %>
<% end %>
