<h1>Which Destination Would You Like to Learn More About?</h1>

<h5>Filter Destinations by Country:</h5>
<%= form_tag(destinations_path, method: :get) do  %>
<%= text_field_tag :search %>
<%= submit_tag "Search"%>
<% end %>

<h5> Lacking inspiration? </h5>
<%= form_tag(destination_path(@destinations.random_destination), method: :get) do %>
<%= submit_tag "I'm feeling lucky" %>
<%end%>

<% @destinations.each do |d| %>

<div class="">
  <%= link_to d.name, d %>
</div>
<% end %>
