<h1>Information About <%= @destination.name %></h1>

<ul>
  <li><%= @destination.country %></li>
  <li><%= @destination.continent %></li>
  <li><%= @destination.description %></li>
</ul>

<h2>Tailored Book Recs</h2>
<ul>
  <%@destination.reviews.each do |review| %>
  <li><a href="/books/<%=review.book_id%>"><%=review.book.title%></a> </li>
</ul>
<%end%>

<h2> link_to "Read Reviews", </h2>
