<div class="bg-img-dest">
  <br>
  <br>
  <br>
  <br>
  <div class="notification">
    <h2><%= @destination.name %></h2>

    <ul>
      <li>Country: <%= @destination.country %></li>
      <li>Continent: <%= @destination.continent %></li>
      <li>Description: <br><%= @destination.description %></li>
    </ul><br>
  </div>

  <% if !@uniq_reviews.empty? %>
    <div class="notification">
      <h2>Tailored Book Recs</h2><br>
      <ul>
        <%@uniq_reviews.each do |book| %>
        <li><a href="/books/<%=book.id%>"><%=book.title%></a> </li>
      </ul>
      <%end%>
      </div>
  <%end%>

  <div class="columns is-centered">
  <% if @revsample1 %>
    <div class="column is one-half">
      <div class="notification">
        Book: <%= @revsample1.book.title %><br>
        Written by user:<%= @revsample1.user.username%><br>
        <%= @revsample1.title %><br>
        <%= @revsample1.review_body %><br>
      </div>
    </div>
  <%end%>

  <% if @revsample2 %>
  <div class="column is one-half">
    <div class="notification">
      Book: <%= @revsample2.book.title %><br>
      Written by user:<%= @revsample2.user.username%><br>
      <%= @revsample2.title %><br>
      <%= @revsample2.review_body %><br>
    </div>
  </div>
  <%end%>
  </div>
</div>
