<div class="bg-img-rev">
<br>
<br>
<br>
<br>
<br>


<h2><%= "Edit your review for #{@review.book.title} at #{@review.destination.name}" %></h1>

<%= form_for @review do |f| %>

  <%= f.label :review_title %>
  <%= f.text_field :title %><br>

  <%= f.text_area(:review_body, :size => "50x10") %>
  <%= f.submit "Submit Review" %>

<% end %>
</div>
