<h1>WRITE YOUR REVIEW</h1>

<ul style="color: red;">
  <% @review.errors.full_messages.each do |message| %>
  <li>
    <%= message %>
  </li>
  <% end %>
</ul>

<%= form_for @review do |f| %>

  <%= f.label :book %>
  <%= f.text_field :book_id, value: @book.title, readonly: true %><br>
  <%= f.hidden_field :book_id, value: @book.id %>

  <%= f.collection_select :destination_id, Destination.all, :id, :name %><br>

  <%= f.label :review_title %>
  <%= f.text_field :title %><br>

  <%= f.text_area(:review_body, :size => "50x10") %>
  <%= f.submit "Submit Review" %>

<% end %>
