<div class="bg-img-rev">
<br>
<br>
<br>
<br>

<h1>Write your review</h1>

<ul style="color: red;">
  <% @review.errors.full_messages.each do |message| %>
  <li>
    <%= message %>
  </li>
  <% end %>
</ul>

<%= form_for @review do |f| %>
  <div class="notification">
  <%= f.label :book %>
  <%= f.text_field :book_id, value: @book.title, readonly: true %><br>
  <%= f.hidden_field :book_id, value: @book.id %>

  Select the trip where you read the book<%= f.collection_select :destination_id, Destination.all, :id, :name %><br>
  <%= f.label :review_title %>
  <%= f.text_field :title %><br>
  </div>
  <%= f.text_area(:review_body, :size => "50x10") %>
  <%= f.submit "Submit Review" %>

<% end %>
</div>
