<!DOCTYPE html>
<html>
  <head>
    <title>BookTour</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

    .hero{
        background: url("world_map.jpg") center;
      }

    </style>
  </head>

  <body>

  <header> The Book Tour<br>
    <p><i>“The world is a book
    <br />and those who do not travel read only one page.” </i></p>
    <p>-St. Augustine</p>

    <nav class="navbar" data-bulma="navbar">
        <div class="navbar-brand">
          <% if session[:user_id] %>
            <p class="navbar-item"><%= link_to 'Your Profile', user_path(session[:user_id]) %></p>
          <%end%>
            <p class="navbar-item"><%= link_to "Destinations", destinations_path %></p>
            <p class="navbar-item"><%= link_to "Books", books_path %></p>
    </nav>


  </header><br>

    <%= yield %>

    <footer class="container branding text-center">
        <br>
        <small> <strong style="color:#BBB;">
          <% case 1 + rand(4)
          when 1 %>
          <p><i>“The world is a book and those who do not travel read only one page.” </i></p> <p>-St. Augustine</p>
          <% when 2 %>
          <p><i>“Books are the plane, and the train, and the road. They are the destination, and the journey. They are home.”</i></p> <p>-Anna Quindlen</p>
          <% when 3 %>
          <p><i>“It is good to have an end to journey toward; but it is the journey that matters, in the end.” </i></p> <p>-Ursula K. LeGuin</p>
          <% when 4 %>
          <p><i>“Travel far enough, you meet yourself.”</i></p> <p>-David Mitchell</p>
          <% when 5 %>
          <p><i>“I read; I travel; I become” </i></p> <p>-Derek Walcott</p>
          <% end %>
        </strong></small>
      </footer>

  </body>
</html>
